@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

*{
margin: 0;
padding: 0;
}

.navbar{
position: absolute;
display: flex;
align-items: center;
width: 100vw;
}

.logo{
margin: 8px 19px;
}

.logo img{
width: 60px;
}

.navbar ul{
display: flex;
}

.navbar::before{
top: 0;
left: 0;
content: "";
background: #000;
position: absolute;
height: 100%;
width: 100vw;
z-index: -1;
opacity: 0.4;
}

.item{
list-style: none;
font-size: 1.5rem;
}

.item :hover{
background-color : rgb(255, 255, 255, 0.3);
color: black;
box-shadow :10px 5px 5px rgba(0, 0, 0, 0.3);
}

.item a{
display: block;
border-radius: 25px;
padding: 3px 22px;
text-decoration: none;
color: white;
font-family: 'Fuzzy Bubbles', cursive;
}

.home{
display: flex;
flex-direction: column;
padding: 3px 200px;
justify-content: center;
align-items: center;
height: 437px;
}

.home::before{
left: 0;
top: 0em;
content: "";
background:
url(https://envato-shoebox-0.imgix.net/34f8/45f6-47dc-47cf-8948-bc48dbdc1703/pasta4_b294.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=f97c95896e5d645947f16933bd911c47)
no-repeat center center/cover;
position: absolute;
height: 434px;
width: 99.4%;
z-index: -1;
opacity: 0.8;
border: 5px solid #c9a481;
}

.home p{
font-family: 'Fuzzy Bubbles', cursive;
color: white;
text-align: center;
}

.home h1{
color: white;
}

.h-primary{
font-family: 'Fuzzy Bubbles', cursive;
font-size: 3.2rem;
padding: 12px;
}

.h-secondary{
font-family: 'Fuzzy Bubbles', cursive;
font-size: 2.3rem;
padding: 12px;
}

.services-container h1{
margin-top: 30px;
}
.center{
text-align: center;
}

.contact-box form{
width: 40%;
}

.form-group{
padding: 16px 0;
}

.form-group label{
font-family: 'Fuzzy Bubbles', cursive;
font-size: 1.3rem;
}

.form-group input,
.form-group textarea{
font-family: 'Fuzzy Bubbles', cursive;
}

.btn{
padding: 5px 10px;
border-radius: 40px;
border: 2px solid white;
color: white;
background-color: rgb(255, 255, 255, 0);
margin: 17px;
font-size: 1.5rem;
cursor: pointer;
}

.btn1{
    font-family: 'Fuzzy Bubbles', cursive;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 40px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    margin: 17px 17px 17px 251px;
    font-size: 1.2rem;
    cursor: pointer;
    }

.btn:hover{
background-color : rgb(255, 255, 255, 0.3);
color: black;
box-shadow :10px 5px 5px rgb(0, 0, 0, 0.3);
}

.btn1:hover{
    background-color : rgb(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    box-shadow :10px 5px 5px rgb(0, 0, 0, 0.3);
    }

.box img{
height: 160px;
display: block;
margin: auto;
}

.services{
margin: 34px;
display: flex;

}


.services-container{
border: 5px solid #77756c;
}
.services-container::before{
content: "";
position: absolute;
background:
url('https://img.freepik.com/free-photo/healthy-food-background-autumn-fresh-vegetables-dark-stone-table-with-copy-space-top-view_127032-1954.jpg?size=626&ext=jpg')
no-repeat center center/cover;
width: 99.4%;
height: 565px;
z-index: -1;
opacity: 0.6;
}

.box{
border: 2px solid brown;
padding: 20px;
margin: 3px;
border-radius: 25px;
background: rgb(241, 239, 239, 0.3);
}

.box p{
font-family: 'Fuzzy Bubbles', cursive;
}

.clients{
display: flex;
justify-content: center;
align-items: center;
}

.client-section{
height: 344px;
position: relative;
border: 5px solid #72a2ba;
}

.client-section::before{
content: "";
position: absolute;
background:
url('https://media.istockphoto.com/photos/healthy-fresh-vegetables-frame-copy-space-picture-id1249223936?b=1&k=20&m=1249223936&s=170667a&w=0&h=hxKD4SC8LPwZoIDkyMo894U2qxZl7WAVbJm3Zcme-8M=')
no-repeat center center/cover;
width: 100%;
height: 350px;
z-index: -1;
opacity: 0.6;
}

.client-item{
padding: 37px;
}
.client-item img{
width: 150px;
}

.contact{
position: relative;
border: 5px solid #5d9eba;
}


.contact::before{
content: "";
position: absolute;
background: url('https://creativecomp.com/wp-content/uploads/2019/02/contact-us-bg-300x115.jpg') no-repeat center
center/cover;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.7;
}

.contact-box{
display: flex;
justify-content: center;
align-items: center;
}
.contact-box input,
.contact-box textarea{
width: 100%;
padding: 0.5rem;
border-radius: 10px;
font-size: 1rem;
}

footer{
background-color: black;
color: white;
font-family: 'Fuzzy Bubbles', cursive;
padding: 10px 0;
}